<template>
    <section class="app-wrapper">
        <start-component v-show="activeStep == 0" v-on:update="startStep">
        </start-component>
        <step-component v-for="step in steps" v-bind:data="step" v-on:update="nextStep" v-bind:key="step.id" v-show="activeStep == step.id">
        </step-component>
        <button class="next-btn btn btn-lg btn-primary btn-long" v-show="activeStep == 5" v-on:click="startLong">{{translateText(nextStepLabel)}}</button>
        <end-component v-show="activeStep == this.steps.length + 1">
        </end-component>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                steps: [],
                activeStep: 0,
                isLast: false,
                isValid: false,
                visitor_name: null,
                visitor_email: null,
                locale: 'en',
                nextStepLabel: {
                    'en': 'NEXT PAGE',
                    'el': 'ΕΠΟΜΕΝΟ'
                }
            }
        },
        methods: {
            currentLang: function() {
              return this.locale;
            },
            translateText: function(textGroup) {
              return textGroup[this.currentLang()];
            },
            getSteps: function() {
                axios.get('/steps')
                .then((response) => {
                    this.steps = response.data;
                });
            },
            validateStep: function() {
                this.isValid = true;
            },
            changeStep: function(id) {
                this.activeStep = id;
                if(id > this.steps.length) {
                    this.isLast = true;
                }
            },
            nextStep: function(question_1_id, value_question_1, question_2_id, value_question_2) {
                if(question_1_id == 1) {
                    if(typeof value_question_1.list != 'undefined') {
                        axios.post('/answers/add', {
                            visitor_name: this.visitor_name,
                            visitor_email: this.visitor_email,
                            question_id: question_1_id,
                            value: value_question_1.list
                        });
                    }
                    else {
                        axios.post('/answers/add', {
                            visitor_name: this.visitor_name,
                            visitor_email: this.visitor_email,
                            question_id: question_1_id,
                            value: value_question_1
                        });
                    }
                }
                else {
                    axios.post('/answers/add', {
                        visitor_name: this.visitor_name,
                        visitor_email: this.visitor_email,
                        question_id: question_1_id,
                        value: value_question_1
                    });
                }
                axios.post('/answers/add', {
                    visitor_name: this.visitor_name,
                    visitor_email: this.visitor_email,
                    question_id: question_2_id,
                    value: value_question_2
                });
                if(question_1_id == 1) {
                    if(typeof value_question_1.list != 'undefined') {
                        axios.post('/visitorsub', {
                            list: value_question_1.list,
                            user_country: value_question_1.user_country,
                            name: this.visitor_name,
                            email: this.visitor_email
                        })
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                    else {
                        axios.post('/visitorsub', {
                            list: value_question_1,
                            user_country: null,
                            name: this.visitor_name,
                            email: this.visitor_email
                        })
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                }
                this.changeStep(this.activeStep+1);
            },
            startStep: function(fullname, email) {
                this.visitor_name = fullname;
                this.visitor_email = email;
                axios.post('/visitors/add', {
                    visitor_name: fullname,
                    visitor_email: email
                })
                .then(() => {
                    this.changeStep(this.activeStep+1);
                });
            },
            startLong: function() {
                this.changeStep(this.activeStep+1);
            }
        },
        mounted() {
            this.getSteps();
        }
    }
</script>