<template>
    <div class="container-fluid start-component">
        <div class="row">
            <div class="col-md-12 d-flex flex-column align-items-center justify-content-center fullheight">
                <p class="white text-center">{{translateText(thankyouLabel)}}</p>
                <button class="next-btn btn btn-lg btn-primary btn-first" v-on:click="restart">{{translateText(restartLabel)}}</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
              thankyouLabel: {
                'en': 'We would like to thank you for your feedback',
                'el': 'Αυτό ήταν! Σας ευχαριστούμε πολύ για τον χρόνο και τις απαντήσεις σας!'
              },
              restartLabel: {
                'en': 'START OVER',
                'el': 'ΞΕΚΙΝΗΣΤΕ ΞΑΝΑ'
              }
            }
        },
        methods: {
            currentLang: function() {
              return this.$parent.locale;
            },
            translateText: function(textGroup) {
              return textGroup[this.currentLang()];
            },
            restart() {
                location.reload(true);
            }
        },
        mounted() {
            
        }
    }
</script>
