<template>
    <div class="question-component-wrapper">
        <form v-on:change="validate" class="pl-3 pr-3">
            <div class="question-number-box" v-if="data.type != 'blank'">
                {{increment}}
            </div>
            <div class="form-group" v-if="data.type == 'rating'">
                <div class="question-title">{{translateTitle(data)}}</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'star1'" v-bind:name="'ratings'+data.id" value="1 Star" v-model="answer">
                    <label v-bind:class="ratingClass+'one form-check-label'" v-bind:for="data.id+'star1'"><i class="fas fa-star"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'star2'" v-bind:name="'ratings'+data.id" value="2 Star" v-model="answer">
                    <label v-bind:class="ratingClass+'two form-check-label'" v-bind:for="data.id+'star2'"><i class="fas fa-star"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'star3'" v-bind:name="'ratings'+data.id" value="3 Star" v-model="answer">
                    <label v-bind:class="ratingClass+'three form-check-label'" v-bind:for="data.id+'star3'"><i class="fas fa-star"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'star4'" v-bind:name="'ratings'+data.id" value="4 Star" v-model="answer">
                    <label v-bind:class="ratingClass+'four form-check-label'" v-bind:for="data.id+'star4'"><i class="fas fa-star"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'star5'" v-bind:name="'ratings'+data.id" value="5 Star" v-model="answer">
                    <label v-bind:class="ratingClass+'five form-check-label'" v-bind:for="data.id+'star5'"><i class="fas fa-star"></i></label>
                </div>
            </div>
            <div class="form-group" v-if="data.type == 'quality'">
                <div class="question-title">{{translateTitle(data)}}</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'enough'" v-bind:name="'ratings'+data.id" value="Enough" v-model="answer">
                    <label v-bind:class="ratingClass+'one form-check-label'" v-bind:for="data.id+'enough'"><i class="fas fa-star"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'clear'" v-bind:name="'ratings'+data.id" value="Clear" v-model="answer">
                    <label v-bind:class="ratingClass+'two form-check-label'" v-bind:for="data.id+'clear'"><i class="fas fa-star"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'educational'" v-bind:name="'ratings'+data.id" value="Educational" v-model="answer">
                    <label v-bind:class="ratingClass+'three form-check-label'" v-bind:for="data.id+'educational'"><i class="fas fa-star"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'interesting'" v-bind:name="'ratings'+data.id" value="Interesting" v-model="answer">
                    <label v-bind:class="ratingClass+'four form-check-label'" v-bind:for="data.id+'interesting'"><i class="fas fa-star"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'alltheabove'" v-bind:name="'ratings'+data.id" value="All the Above" v-model="answer">
                    <label v-bind:class="ratingClass+'five form-check-label'" v-bind:for="data.id+'alltheabove'"><i class="fas fa-star"></i></label>
                </div>
            </div>
            <div class="form-group" v-else-if="data.type == 'radio'">
                <div class="question-title">{{translateTitle(data)}}</div>
                <div class="d-flex flex-wrap align-items-center justify-content-start" v-if="data.title == 'Age:'">
                    <div class="form-check" v-for="option in options" style="width:50%;">
                        <div class="form-group">
                            <input class="form-check-input" type="radio" v-bind:id="option.name" name="options" v-bind:value="option.name" v-model="answer">
                            <label class="form-check-label" v-bind:for="option.name">{{option.name}}</label>
                            <input type="text" class="form-control custom-form-control" v-if="option.hasCustom" v-model="otherAnswer" />
                        </div>
                    </div>
                </div>
                <div v-else-if="data.title != 'Age:'">
                    <div class="form-check" v-for="option in options">
                        <div class="form-group d-flex align-items-center justify-content-between">
                            <input class="form-check-input" type="radio" v-bind:id="option.name" name="options" v-bind:value="option.name" v-model="answer">
                            <label class="form-check-label" v-bind:for="option.name">{{option.name}}</label>
                            <input type="text" class="form-control custom-form-control" v-if="option.hasCustom" v-model="otherAnswer" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" v-else-if="data.type == 'happiness'">
                <div class="question-title">{{translateTitle(data)}}</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'verysad'" v-bind:name="data.id+'happiness'" value="Very Sad" v-model="answer">
                    <label v-bind:class="ratingClass+'verysad form-check-label'" v-bind:for="data.id+'verysad'"><i class="far fa-frown"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'sad'" v-bind:name="data.id+'happiness'" value="Sad" v-model="answer">
                    <label v-bind:class="ratingClass+'sad form-check-label'" v-bind:for="data.id+'sad'"><i class="far fa-frown-open"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'happy'" v-bind:name="data.id+'happiness'" value="Happy" v-model="answer">
                    <label v-bind:class="ratingClass+'happy form-check-label'" v-bind:for="data.id+'happy'"><i class="far fa-smile"></i></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="display:none;" type="radio" v-bind:id="data.id+'veryhappy'" v-bind:name="data.id+'happiness'" value="Very Happy" v-model="answer">
                    <label v-bind:class="ratingClass+'veryhappy form-check-label'" v-bind:for="data.id+'veryhappy'"><i class="far fa-smile-beam"></i></label>
                </div>
            </div>
            <div class="form-group" v-else-if="data.type == 'textarea'">
                <div class="question-title">{{translateTitle(data)}}</div>
                <textarea class="form-control" rows="4" v-model="answer"></textarea>
            </div>
            <div class="form-group d-flex align-items-center justify-content-start flex-wrap" v-else-if="data.type == 'country'">
                <div class="question-title">{{translateTitle(data)}}</div>
                <select class="form-control" v-model="answer">
                    <option value="Choose your country" disabled>{{translateText(chooseLabel)}}</option>
                    <option value="lC9uZmehjwTEZs763hougLMQ">{{translateText(germanyLabel)}}</option>
                    <option value="G2MWXWoGHMs24ICYYD7YpQ">{{translateText(ukLabel)}}</option>
                    <option value="oi5QsbHFeJMtElWpBpENew">{{translateText(usLabel)}}</option>
                    <option value="pQh2mWuoLwRQwu46O14NQQ">{{translateText(canadaLabel)}}</option>
                    <option value="ZDNTNd892PS0892uemmF8F717w">{{translateText(belgiumLabel)}}</option>
                    <option value="l763U3pMF8sA2vTx4ff9f8hQ">{{translateText(switzerlandLabel)}}</option>
                    <option value="Es7YKKrTcxBRuO763zvQyqVg">{{translateText(irelandLabel)}}</option>
                    <option value="tE82zYbbd892Sy7QwxeW68GA">{{translateText(finlandLabel)}}</option>
                    <option value="RivKFSHbw6L9YH8ckTQyVw">{{translateText(norwayLabel)}}</option>
                    <option value="5LS98cR892rCWdRwGOg763FLng">{{translateText(netherlandsLabel)}}</option>
                    <option value="CJomiMi892fQMsNePeookieg">{{translateText(australiaLabel)}}</option>
                    <option value="wcWIC8jxYsIPs6FYK1R2jQ">{{translateText(franceLabel)}}</option>
                    <option value="0LrzV4T9Ja6DC763KZOL5KZw">{{translateText(sweedenLabel)}}</option>
                    <option value="w5G2XcUZqQyr9M892s6S6BOA">{{translateText(otherLabel)}}</option>
                </select>
                <div class="d-flex align-items-center justify-content-start" v-if="answer == 'w5G2XcUZqQyr9M892s6S6BOA'">
                    <label>Country name: </label>
                    <input type="text" class="form-control custom-form-control" v-model="otherCountry" />
                </div>
            </div>
            <div v-else-if="data.type == 'blank'">
            </div>
            <input type="hidden" v-bind:value="answer">
        </form>
</div>
</template>

<script>
    export default {
        data() {
            return {
                question: this.data,
                options: JSON.parse(this.data.options),
                increment: null,
                answer: null,
                otherAnswer: null,
                ratingClass: 'normal',
                otherCountry: null,
                germanyLabel: {
                  'en': 'Germany',
                  'el': 'Γερμανία'
                },
                ukLabel: {
                  'en': 'United Kingdom',
                  'el': 'Αγγλία'
                },
                usLabel: {
                  'en': 'United States',
                  'el': 'Η.Π.Α.'
                },
                canadaLabel: {
                  'en': 'Canada',
                  'el': 'Καναδάς'
                },
                belgiumLabel: {
                  'en': 'Belgium',
                  'el': 'Γερμανία'
                },
                switzerlandLabel: {
                  'en': 'Switzerland',
                  'el': 'Ελβετία'
                },
                irelandLabel: {
                  'en': 'Ireland',
                  'el': 'Ιρλανδία'
                },
                finlandLabel: {
                  'en': 'Finland',
                  'el': 'Φινλανδία'
                },
                norwayLabel: {
                  'en': 'Norway',
                  'el': 'Νορβηγία'
                },
                netherlandsLabel: {
                  'en': 'Netherlands',
                  'el': 'Ολλανδία'
                },
                australiaLabel: {
                  'en': 'Australia',
                  'el': 'Αυστραλία'
                },
                franceLabel: {
                  'en': 'France',
                  'el': 'Γαλλία'
                },
                sweedenLabel: {
                  'en': 'Sweeden',
                  'el': 'Σουηδία'
                },
                otherLabel: {
                  'en': 'Other',
                  'el': 'Άλλο'
                },
                chooseLabel: {
                  'en': 'Choose your country',
                  'el': 'Επιλέξτε την χώρα σας'
                }
            }
        },
        props: ['data'],
        methods: {
            currentLang: function() {
                return this.$parent.$parent.locale;
            },
            translateText: function(textGroup) {
                return textGroup[this.currentLang()];
            },
            translateTitle(item) {
                if(this.$parent.$parent.locale === 'en') {
                    return item.title;
                }
                return item['title_'+this.$parent.$parent.locale];
            },
            validate: function() {
                if(this.answer == '1 Star') {
                    this.ratingClass = 'onestar';
                }
                if(this.answer == '2 Star') {
                    this.ratingClass = 'twostar';
                }
                if(this.answer == '3 Star') {
                    this.ratingClass = 'threestar';
                }
                if(this.answer == '4 Star') {
                    this.ratingClass = 'fourstar';
                }
                if(this.answer == '5 Star') {
                    this.ratingClass = 'fivestar';
                }
                if(this.answer == 'Enough') {
                    this.ratingClass = 'onestar';
                }
                if(this.answer == 'Clear') {
                    this.ratingClass = 'twostar';
                }
                if(this.answer == 'Educational') {
                    this.ratingClass = 'threestar';
                }
                if(this.answer == 'Interesting') {
                    this.ratingClass = 'fourstar';
                }
                if(this.answer == 'All the Above') {
                    this.ratingClass = 'fivestar';
                }
                if(this.answer == 'Very Sad') {
                    this.ratingClass = 'verysad';
                }
                if(this.answer == 'Sad') {
                    this.ratingClass = 'sad';
                }
                if(this.answer == 'Happy') {
                    this.ratingClass = 'happy';
                }
                if(this.answer == 'Very Happy') {
                    this.ratingClass = 'veryhappy';
                }
                if(this.otherAnswer) {
                    this.answer = this.answer+': '+this.otherAnswer;
                }
                if(this.otherCountry) {
                    var countryAnswer = {list: this.answer, user_country: this.otherCountry};
                    this.$emit('update', this.data.id, countryAnswer);
                }
                else {
                    this.$emit('update', this.data.id, this.answer);
                }
                
            },
            revertCountry: function() {
                this.answer = 'lC9uZmehjwTEZs763hougLMQ';
            },
            getIncrement: function() {
                var numberOfBlanks = 0;
                if(this.data.step_id >= 4) {
                    numberOfBlanks = 1;
                }
                if(this.data.step_id >= 5) {
                    numberOfBlanks = 3;
                }
                if(this.data.step_id >= 7) {
                    numberOfBlanks = 4;
                }
                if(this.data.step_id >= 9) {
                    numberOfBlanks = 5;
                }
                if(this.data.btn == 1) {
                    this.increment = this.data.step_id * 2 - numberOfBlanks;
                }
                else {
                    this.increment = this.data.step_id * 2 - 1 - numberOfBlanks;
                }
            }
        },
        mounted() {
            if(this.question.type == 'country') {
                this.answer = 'Choose your country';
            }
            if(this.question.type == 'blank') {
                this.answer = 'blank';
                this.validate();
            }
            this.getIncrement();
        }
    }
</script>
<style>
.custom-form-control {
    color:#000 !important;
    width:55%;
    margin-bottom:0px;
    padding-bottom:0px;
}
.onestarone {
    color:#ffcd0e;
}
.twostarone, .twostartwo {
    color:#ffcd0e;    
}
.threestarone, .threestartwo, .threestarthree {
    color:#ffcd0e;
}
.fourstarone, .fourstartwo, .fourstarthree, .fourstarfour {
    color:#ffcd0e;
}
.fivestarone, .fivestartwo, .fivestarthree, .fivestarfour, .fivestarfive {
    color:#ffcd0e;
}
.verysadsad, .verysadhappy, .verysadveryhappy {
    color:#000;
}
.sadverysad, .sadhappy, .sadveryhappy {
    color:#000;
}
.happyverysad, .happysad, .happyveryhappy {
    color:#000;
}
.veryhappyverysad, .veryhappysad, .veryhappyhappy {
    color:#000;
}
.verysadverysad, .sadsad, .happyhappy, .veryhappyveryhappy {
    color:#00bcd4;
}
.fa-frown, .fa-frown-open, .fa-smile, .fa-smile-beam {
    font-size:42px;
}
</style>