<template>
    <div class="container-fluid start-component">
        <div class="row">
            <div class="col-md-12 d-flex flex-column align-items-center justify-content-center fullheight wrap-area">
                <div class="dropdown lang-switch">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{currentLang()}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" v-on:click.prevent="changeLang('en')">EN</a>
                        <a class="dropdown-item" v-on:click.prevent="changeLang('el')">EL</a>
                    </div>
                </div>
                <form v-on:submit.prevent="onSubmit">
                    <div class="form-group">
                        <input type="text" class="form-control" :placeholder="translateText(namePlaceholder)" v-model="fullname">
                        <small id="fullnameInvalid" class="form-text text-muted red" v-if="fullnameInvalid">
                            {{translateText(fullnameInvalidLabel)}}
                        </small>
                    </div>
                    <div class="form-group form-check d-flex align-items-center justify-content-start">
                        <input type="checkbox" class="form-check-input" name="newsletter" id="newsletter" v-on:change="newsletterChange" v-model="newsletter">
                        <label class="form-check-label white" for="newsletter">{{translateText(newsletterLabel)}}</label>
                    </div>
                    <div class="form-group" v-if="newsletter">
                        <input type="email" v-bind:class="emailInvalid ? 'form-control invalid' : 'form-control'" placeholder="Email address" v-on:keyup="emailChange" v-on:change="emailChange" v-model="email">
                        <small id="emailInvalid" class="form-text text-muted red" v-if="emailInvalid">
                            {{translateText(fullnameInvalidLabel)}}
                        </small>
                        <small id="emailHelp" class="form-text text-muted">
                            <div class="d-block"><span class="white fs-normal">{{translateText(policyLabel2)}}</span></div>
                            <br>
                            <div class="d-block fs-small">{{translateText(expectLabel)}} <span class="white">{{translateText(policyLabel)}}</span></div>
                        </small>
                    </div>
                </form>
                <button class="next-btn btn btn-lg btn-primary btn-first" v-on:click="validate()">{{translateText(questionsLabel)}}</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                fullname: null,
                newsletter: false,
                email: null,
                emailInvalid: null,
                fullnameInvalid: null,
                newsletterLabel: {
                  'en': 'I want to receive Newsletter from Lyrarakis Winery',
                  'el': 'Επιθυμώ να λαμβάνω νέα και ενημερώσεις από το Οινοποιείο Λυραράκη'
                },
                namePlaceholder: {
                  'en': 'Full name',
                  'el': 'Όνομα'
                },
                fullnameInvalidLabel: {
                  'en': 'Please enter a valid full name',
                  'el': 'Παρακαλώ εισάγετε ένα έγκυρο όνομα'
                },
                emailInvalidLabel: {
                  'en': 'Please enter a valid email',
                  'el': 'Παρακαλώ εισάγετε ένα έγκυρο email'
                },
                questionsLabel: {
                  'en': 'GO TO QUESTIONS',
                  'el': 'ΕΡΩΤΗΣΕΙΣ'
                },
                wontShareLabel: {
                  'en': 'We will never share your email with anyone else.',
                  'el': 'Δεν θα κοινοποιήσουμε ποτέ το email σας σε τρίτους'
                },
                expectLabel: {
                  'en': 'What to expect:',
                  'el': 'Τι να περιμένετε'
                },
                policyLabel: {
                  'en': 'If you wish to withdraw your consent and stop hearing from us, simply click the unsubscribe link at the bottom of every email we send or contact us at info@lyrarakis.com. We value and respect your personal data and privacy. To view our privacy policy, please visit our website. By submitting this form, you agree that we may process your information in accordance with these terms.',
                  'el': 'Εάν επιθυμείτε να αποσύρετε τη συγκατάθεσή σας και να σταματήσετε να μαθαίνετε τα νέα μας, πατήστε κλικ στον σύνδεσμο κατάργησης της εγγραφής σας που βρίσκεται στο κάτω μέρος των email που σας στέλνουμε ή επικοινωνήστε μαζί μας στο info@lyrarakis.com. Σεβόμαστε και διασφαλίζουμε τα προσωπικά σας δεδομένα. Για να δείτε την Πολιτική Απορρήτου μας, επισκεφθείτε τον ιστότοπό μας. Υποβάλλοντας αυτήν τη φόρμα, συμφωνείτε στην ενδεχόμενη επεξεργασία των προσωπικών σας πληροφοριών, σύμφωνα με τους όρους χρήσης.'
                },
                policyLabel2: {
                  'en': 'We will never share your email with anyone else.',
                  'el': 'Δεν θα κοινοποιήσουμε το email σας σε άλλα άτομα.'
                }
            }
        },
        methods: {
            changeLang: function(lang) {
              this.$parent.locale = lang;
            },
            currentLang: function() {
              return this.$parent.locale;
            },
            translateText: function(textGroup) {
              return textGroup[this.currentLang()];
            },
            onSubmit: function() {
                this.validate();
            },
            newsletterChange: function() {
                if(!this.newsletter) {
                    this.email = null;
                    this.emailInvalid = false;
                }
            },
            emailChange: function() {
                var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(reg.test(this.email)) {
                    this.emailInvalid = false;
                }
                else {
                    this.emailInvalid = true;
                }
            },
            validate: function() {
                if(this.fullname) {
                    if(this.newsletter && !this.email) {
                        this.emailInvalid = true;
                    }
                    else if(this.newsletter && this.email && !this.emailInvalid) {
                        this.$emit('update', this.fullname, this.email);
                    }
                    else if(!this.newsletter) {
                        this.$emit('update', this.fullname, null);
                    }
                }
                else {
                    this.fullnameInvalid = true;
                }
            }
        },
        mounted() {
            console.log('Start mounted.')
        }
    }
</script>
<style>
form {
    width:400px;
}
.form-control {
    width:100%;
}
input[type=text], input[type=text]:focus {
    background-color:transparent;
    color:#fff;
}
input[type=email], input[type=email]:focus {
    background-color:transparent;
    border:1px solid #dddddd;
    color:#fff;
}
.start-component .fullheight form:first-child {
    padding-top:0px;
    padding-bottom:0px;
}
.invalid {
    border-color:red;
}
.red {
    color:red !important;
}
.fs-normal {
    font-size:16px;
}
.fs-small {
    font-size:12px;
}
</style>