<template>
    <div>
        <div class="container-fluid" v-if="data.name != 'Step5'">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6 fullheight pl-0 pr-0" v-bind:style="data.order == 1 ? 'order:2' : 'order:1'" v-bind:id="data.name">
                    <question-component v-for="question in data.questions" v-on:update="getAnswers" v-bind:data="question" v-bind:key="question.id">
                    </question-component>
                    <div class="answer-is-invalid red" v-if="answersInvalid">
                        {{translateText(invalidAnswersLabel)}}
                    </div>
                    <button class="next-btn btn btn-lg btn-primary" v-on:click="nextStep">{{translateText(nextLabel)}}</button>
                </div>
                <div class="col-md-6 fullheight" v-bind:style="data.order == 1 ? 'order:1; padding-right:0px; text-align:right;' : 'order:2; padding-left:0px;'">
                    <img src="/img/step-component.png" />
                </div>
                <div class="circle d-flex flex-column align-items-center justify-content-center" style="z-index:1;">
                    <div class="question-circle-content">{{currentQuestions}}</span></div>
                    <div class="question-circle-total">{{translateText(fromLabel)}} {{totalQuestions}}</div>
                </div>
            </div>
        </div>
        <div class="container-fluid start-component" v-if="data.name == 'Step5'">
            <div class="row">
                <div class="col-md-12 d-flex flex-column align-items-center justify-content-center fullheight">
                    <p class="white mb-100 text-center">{{translateText(thankyouLabel)}}</p>
                    <!-- <button v-if= class="next-btn btn btn-lg btn-primary btn-first btn-startover" v-on:click="restart">{{translateText(restartLabel)}}</button> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                answers: [],
                currentQuestions: null,
                totalQuestions: null,
                answersInvalid: null,
                invalidAnswersLabel: {
                  'en': 'Please enter or select valid answers.',
                  'el': 'Παρακαλώ εισάγετε ή επιλέξτε έγκυρες τιμές στις απαντήσεις σας'
                },
                restartLabel: {
                    'en': 'START OVER',
                    'el': 'ΞΕΚΙΝΗΣΤΕ ΞΑΝΑ'
                },
                fromLabel: {
                  'en': 'from',
                  'el': 'από'
                },
                nextLabel: {
                  'en': 'NEXT PAGE',
                  'el': 'ΕΠΟΜΕΝΟ'
                },
                thankyouLabel: {
                    'en': 'Thank you for your feedback!<br>There a few more questions if you wish to continue with this survey. If not please return the tablet to one of the hosts.',
                    'el': 'Έχουμε μερικές ακόμα ερωτήσεις αν επιθυμείτε να συνεχίσετε αυτή την έρευνα. Αν όχι, παρακαλούμε επιστρέψτε το tablet στον οικοδεσπότη σας.'
                }
            }
        },
        props: ['data'],
        methods: {
            currentLang: function() {
              return this.$parent.locale;
            },
            translateText: function(textGroup) {
              return textGroup[this.currentLang()];
            },
            getTotalQuestions: function() {
                axios.get('/questions')
                .then((response) => {
                    this.totalQuestions = response.data.length;
                });
            },
            getTotalQuestions: function() {
                axios.get('/questions')
                .then((response) => {
                    //3 blank
                    this.totalQuestions = response.data.length - 3;
                });
            },
            getCurrentQuestions: function() {
                if(this.data.id == 1) {
                    this.currentQuestions = '1 - 2';
                }
                if(this.data.id == 2) {
                    this.currentQuestions = '3 - 4';
                }
                if(this.data.id == 3) {
                    this.currentQuestions = '5 - 6';
                }
                if(this.data.id == 4) {
                    this.currentQuestions = '7';
                }
                if(this.data.id == 6) {
                    this.currentQuestions = '8 - 9';
                }
                if(this.data.id == 7) {
                    this.currentQuestions = '10';
                }
                if(this.data.id == 8) {
                    this.currentQuestions = '11 - 12';
                }
                if(this.data.id == 9) {
                    this.currentQuestions = '13';
                }
                if(this.data.id == 10) {
                    this.currentQuestions = '14 - 15';
                }
                if(this.data.id == 11) {
                    this.currentQuestions = '16 - 17';
                }
                if(this.data.id == 12) {
                    this.currentQuestions = '18 - 19';
                }
                if(this.data.id == 13) {
                    this.currentQuestions = '20 - 21';
                }
            },
            getAnswers: function(question_id, answer_value) {
                let i = this.answers.map(item => item.question_id).indexOf(question_id);
                if(i > -1) {
                    this.answers.splice(i, 1);
                }
                this.answers.push({question_id, answer_value});
            },
            nextStep: function() {
                if(this.answers.length == 2) {
                    this.answersInvalid = null;
                    this.$emit('update', this.answers[0].question_id, this.answers[0].answer_value, this.answers[1].question_id, this.answers[1].answer_value);
                }
                else {
                    this.answersInvalid = true;
                }
            },
            restart() {
                location.reload(true);
            }
        },
        mounted() {
            this.getTotalQuestions();
            this.getCurrentQuestions();
        }
    }
</script>