// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#loginform {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	background:url('/img/start-component.jpg');
	background-size:cover;
	background-position:center top;
}
#loginform .form-control {
	width:100%;
}
#loginform .form-group {
	width:400px;
}
.white {
    color: #f4f4f4;
}
.form-group {
	margin-bottom:0;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.next-btn {
	border-radius:0;
	background-color:#fff;
	border:1px solid #000;
	color:#000;
	padding-right:150px;
	padding-left:150px;
	padding-top:10px;
	padding-bottom:10px;
	position:absolute;
	bottom:0px;
	left:80px;
	right:80px;
    font-size: 20px;
    font-weight: 600;
}
.next-btn:hover, .next-btn:focus, .btn-primary:not(:disabled):not(.disabled):active {
	background:#000;
	color:#fff;
	border-color:#000;
}
.btn-first {
    position:unset;
    width:400px;
    max-width:400px;
    padding-left:0px;
    padding-right:0px;
}
.btn-primary:focus, .btn-primary.focus {
	box-shadow:unset;
}
.start-component {
	background:url('/img/start-component.jpg');
	background-size:cover;
	background-position:center top;
}
.question-number-box {
	width:40px;
	height:40px;
	background-color:#000;
	color:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
    font-size: 18px;
    font-weight: 700;
   	margin-bottom:25px;
}
.form-control {
	width: 50%;
	border-radius:0;
	margin-bottom: 15px;
}
select.form-control {
	margin-left:30px;
}
input.form-control {
	border-top:unset;
	border-left:unset;
	border-right:unset;
}
input.form-control:focus {
	box-shadow:unset;
	border-color:#ced4da;
}
.form-check-input {
	margin-top:0;
}
.question-title {
	font-weight:800;
	font-size:16px;
	margin-bottom: 15px;
}
.form-check-label, .form-control {
	font-size:16px;
	font-weight:400;
}
.form-check-label {
	cursor:pointer;
	margin-bottom:0.5rem;
}
.question-component-wrapper:first-child {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.question-component-wrapper, .answer-is-invalid {
	padding-left:80px;
}
.answer-is-invalid.red {
    position: relative;
    top: -15px;
}
.fullheight form:first-child {
	padding-top:30px;
	padding-bottom:30px;
}
.fullheight {
    height:632px;
    /*height:100vh;*/
}
.circle {
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	width:135px;
	height:135px;
	border-radius:50%;
	background:#fff;
}
img {
	width:auto;
/*	max-height:100vh;*/
	height:632px;
}
::placeholder {
	color: #fff !important;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #fff !important;
}
::-ms-input-placeholder {
	color: #fff !important;
}
.btn-long {
	position: absolute;
    width: 400px;
    max-width: 400px;
    padding-left: 0px;
    padding-right: 0px;
    top: 48.5%;
    bottom: unset;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
}
.btn-startover {
	position:absolute;
	top: 57%;
    bottom: unset;
    left: 50%;
    transform: translateX(-50%);
}
.mb-100 {
	margin-bottom:100px;
}
input[type=checkbox], input[type=radio] {
    margin-top: -0.2rem;
}
body {
	width:1280px;
	height:632px;
	position:relative;
	/*width:100vw;*/
	/*height:100vh;*/
	max-width: 1280px;
	max-height: 632px;
}

.wrap-area {
	position: relative;
	.lang-switch {
		position: absolute;
		right: 40px;
		top: 50px;
	}
}
